.opener {
  color: white;
  background-color: #5c0349;
  padding: 15vh 10vw 0 10vw;
}

.openTitle {
  font-size: 70px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.imgOpener {
  width: 220px;
  margin: 0 auto;
}
.test {
  font: optional;
}
